@font-face
{
	font-family: CloisterBlack;
	src: url(CloisterBlack.ttf);
}

body
{
	font-family: CloisterBlack;
	background-color: black;
	font-size: 150%;
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	color: white;
}

.menu
{
	margin-left: auto;
	margin-right: auto;
}

.menu a
{
	color: darkred;
	margin: 50px;
}

.menu tr
{
	background-color: darkgray;
}

.menu th:hover
{
	background-color: gray;
}

table.menu {border-collapse: collapse;}
