

@font-face
{
	font-family: cool;
	src: url(cool.ttf);
}

body
{
	font-family: cool;
	background-color: #1e1e1e;
	font-size: 150%;
	margin-left: 20px;
	margin-right: 20px;
}

.menu
{
	margin-left: auto;
	margin-right: auto;
}

.menu a
{
	color: white;
	margin: 50px;
	text-decoration: none;
}

.menu tr
{
	background-color: #424242;
}

.menu th:hover
{
	background-color: gray;
}

table.menu {border-collapse: collapse;}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p
{
	text-align: center;
	color: white;
}

.connexion
{
	text-align: right;
	font-size: 18px;
}

.connexion2
{
	text-align: center;
}

h2
{
	text-align: center;
	text-decoration: underline;
	color: white;
}

.logo_nom
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.contact
{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    color: white;
    border: 2px solid darkgrey;
    color: black;
    text-align: center;
}

.contact h1
{
	color: white;
}

section.contact div
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.search
{
	text-align: center;
}

.event h2
{
	text-align: center;
	color: white;
	text-decoration: underline;
}

.event
{
	text-decoration: none;
	color: white;
	text-align: center;
}

a.event:hover
{
	color: #0c0c0c;
}

table.topic
{
	margin-top: 50px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-spacing: 50px 10px;
	border: 1px solid darkgrey;
}

.topic a
{
	color: white;
}

.newTopic
{
	text-align: center;
}

section.post
{
	border: 1px solid darkgrey;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post h3
{
	color: white;
	margin-left: 10px;
}

.post p
{
	text-align: left;
	margin-left: 10px;
}

.post a
{
	text-decoration: none;
	color: red;
	margin-left: 10px;
}

.delete
{
	text-decoration: none;
	color: red;
}

.register
{
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
