@font-face
{
	font-family: CloisterBlack;
	src: url(CloisterBlack.ttf);
}

@font-face
{
	font-family: cool;
	src: url(cool.ttf);
}

body
{
	font-family: cool;
	background-color: #1e1e1e;
	font-size: 150%;
	margin-left: 100px;
	margin-right: 100px;
}

.menu
{
	margin-left: auto;
	margin-right: auto;
}

.menu a
{
	color: darkred;
	margin: 50px;
}

.menu tr
{
	background-color: darkgray;
}

.menu th:hover
{
	background-color: gray;
}

table.menu {border-collapse: collapse;}

img
{
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
