@font-face
{
    font-family: CloisterBlack;
    src: url(CloisterBlack.ttf);
}

@font-face
{
    font-family: cool;
    src: url(cool.ttf);
}
table
{
    font-family: cool;
}

body
{
    font-family: arial;
    background-color: #1e1e1e;
    font-size: 150%;
    margin-left: 20px;
    margin-right: 20px;
}

h2
{
    font-family: arial;
}

img
{
    margin-right: 8px;
}


section
{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    color: white;
    border: 1px solid darkgrey;
    background-color: darkgrey;
    color: black;
    text-align: center;
}

div
{
    margin-top: 100px;
    margin-bottom: 100px;
}


.menu
{
    margin-left: auto;
    margin-right: auto;
}

.menu a
{
    color: darkred;
    margin: 50px;
}

.menu tr
{
    background-color: darkgray;
}

.menu th:hover
	     {
		 background-color: gray;
	     }

table.menu
{
    border-collapse: collapse;
}

.logo_nom
{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

