@font-face
{
	font-family: CloisterBlack;
	src: url(CloisterBlack.ttf);
}

@font-face
{
	font-family: cool;
	src: url(cool.ttf);
}

body
{
	font-family: cool;
	background-color: #1e1e1e;
	font-size: 150%;
	margin-left: 20px;
	margin-right: 20px;
}

.menu
{
	margin-left: auto;
	margin-right: auto;
}

.menu a
{
	color: white;
	margin: 50px;
	text-decoration: none;
}

.menu tr
{
	background-color: #424242;
}

.menu th:hover
{
	background-color: gray;
}

table.menu {border-collapse: collapse;}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.search
{
	text-align: right;
	margin-right: 60px;
}

h2
{
	color: white;
	text-decoration: underline;
}

.event
{
	text-decoration: none;
	color: white;
}

a.event:hover
{
	color: #0c0c0c;
}

.connexion
{
	text-align: right;
}

.connexion a
{
	font-size: 18px;
}

section
{
	margin-left: 60px;
}
